body{
    background: #eee;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background-image: url("login3.jpeg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frm{


    border: solid gray 1px;
    width:25%;
    border-radius: 2px;
    margin: 120px auto;
    background:hsla(201, 100%, 6%, 0.6);
    padding: 50px;
}
#btn{
    color: #fff;

    background: #337ab7;
    padding: 7px;
    margin-left: 70%;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label{
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
}
.input-group input{
    background: none;
    border: none;
    font-size: 1.5em;
    padding: .1em .25em;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}

.input-group input:focus{
    border: 1px solid hsl(201,100%,58%);
}

#btn:hover{
    background-color: hsla(201, 100%, 58%, 0.3);
}
#btn:focus{
    background-color: hsla(201, 100%, 58%, 0.5);
}
